_format_version: "3.0"

services:
  - name: berhot-api
    url: http://host.docker.internal:3000
    routes:
      - name: api-route
        paths:
          - /api
        strip_path: true

plugins:
  - name: cors
    config:
      origins:
        - "*"
      methods:
        - GET
        - POST
        - PUT
        - PATCH
        - DELETE
        - OPTIONS
      headers:
        - Content-Type
        - Authorization
        - X-Tenant-Id
      credentials: true
      max_age: 3600

  - name: rate-limiting
    config:
      minute: 100
      policy: local
